@import 'tailwindcss';
@config '../../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  font-family: var(--font-pretendard), sans-serif;
  color: var(--foreground);
}
